li
  h4
    = link_to client.business_name, client
  p
    strong Invoices:
    '
    span.badge.badge-inverse #{client.outstanding_invoices.size}
  p
    strong Total:
    '
    em #{client.outstanding_invoices.total}
  table
    thead
      tr
        th
          | Age
          '
          i.icon-question-sign[rel='popover' data-container='body' data-trigger='hover' data-title='Invoice Age' data-content='The number of days that have passed since the invoice became due. If the number is negative(-), it means that the invoice is not yet due (i.e. "-5" means the payment is only due in 5 days time). Overdue invoices are Red, Invoices due today are Blue, and upcoming invoices are Green']
        th Invoice Number
        th Due Date
        th Amount
        th Created
        th[data-defaultsort='disabled']
    tbody= render partial: 'clients/invoices/outstanding', collection: client.outstanding_invoices, as: :invoice, cache: true