<% cache client do %>
<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title"><%= link_to client.business_name, client %></h4>
  </div>
  <div class="panel-body">
    <p class="pull-left">
      <strong>Invoices:</strong>
      <span class="badge"><%= client.outstanding_invoices.size %></span>
    </p>
    <p class='pull-right'>
      <strong>Total:</strong>
      <em><%= client.outstanding_invoices.total %></em>
    </p>
  </div>
  <table class='table table-bordered table-condensed'>
    <thead>
      <tr>
        <th>
          Age
        </th>
        <th>Invoice Number</th>
        <th>Due Date</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Created</th>
        <th data-defaultsort="disabled">
        </th>
      </tr>
    </thead>
    <tbody><%= render partial: 'clients/invoices/outstanding', collection: client.outstanding_invoices, as: :invoice, locals: { client: client } %></tbody>
  </table>
</div>
<% end %>
