<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title"><%= link_to client.business_name, client %></h4>
  </div>
  <div class="panel-body">
    <p class="pull-left">
      <strong>Invoices:</strong>
      <span class="badge badge-inverse"><%= client.outstanding_invoices.size %></span>
    </p>
    <p class='pull-right'>
      <strong>Total:</strong>
      <em><%= client.outstanding_invoices.total %></em>
    </p>
  </div>
  <table>
    <thead>
      <tr>
        <th>
          Age
        <i class="fa fa-question" data-container="body" data-content="The number of days that have passed since the invoice became due. If the number is negative(-), it means that the invoice is not yet due (i.e. &quot;-5&quot; means the payment is only due in 5 days time). Overdue invoices are Red, Invoices due today are Blue, and upcoming invoices are Green" data-title="Invoice Age" data-trigger="hover" rel="popover"></i>
        </th>
        <th>Invoice Number</th>
        <th>Due Date</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Created</th>
        <th data-defaultsort="disabled">
        </th>
      </tr>
    </thead>
    <tbody><%= render partial: 'clients/invoices/outstanding', collection: client.outstanding_invoices, as: :invoice, cache: true %></tbody>
  </table>
</div>
