.page-header
  .media
    .pull-left=image_tag('home.png', class: 'media-object')
    .media-body
      h2 Home

ul.thumbnails
  li.span4
    .thumbnail
      = image_tag('clients.png')
      h4.text-center= link_to 'Clients', clients_path
      p.text-center
        = link_to new_client_path do
          = fa_icon 'male', text: ' Add a New Client'
  li.span4
    .thumbnail
      = image_tag('invoices.png')
      h4.text-center= link_to 'Invoices', invoices_path
      p.text-center
        = link_to new_invoice_path do
          = fa_icon 'file-text', text: ' Add a New Invoice'
  li.span4
    .thumbnail
      = image_tag('settings.png')
      h4.text-center= link_to 'Settings', settings_path
      p.text-center
        = link_to settings_path do
          = fa_icon 'gears', text: 'Change your settings.'

.well
  - if @clients.any?
    h3 Currently chasing <strong>#{pluralize(@clients.total_count, 'client')}</strong>
    = page_entries_info @clients
    p.pull-right
      strong Note:
      | This page only shows invoices with a status of
      '
      span.label.label-success Chasing
      br
      | For all invoices, click #{link_to 'here', invoices_path} or on the Invoices menu item in the Navigation bar
    hr
    ul.unstyled
      = render  partial: 'dashboard/client', collection: @clients, as: :client, cache: true
    hr
    = paginate @clients
  - else
    .hero-unit
      p.lead
        | You currenly have no clients with invoices being chased at the moment...
        = image_tag('sadface.png', size: '15x15')
        |  Let's fix that right away!
      p
        strong Why don't we get started:
      h3
        = link_to new_invoice_path do
          = fa_icon 'file-text', text: ' Add a new Invoice'
      h3
        = link_to new_client_path do
          = fa_icon 'male', text: ' Add a New Client'

.well
  p.lead Remember that you can come back to this screen at any time, by clicking the "HOME" link in the above navigation menu. Need help? Then check out the following:
  ul.inline
    li= link_to tutorial_path do
      = fa_icon 'book', text: 'Help'
    li= link_to faq_path do
      = fa_icon 'question-circle', text: 'FAQs'
    li= link_to about_path do
      = fa_icon 'info-circle', text: 'About'
    li= link_to new_contact_path do
      = fa_icon 'send', text: 'Contact Us'
