<div class="page-header">
  <h1>News Section</h1>
  <h6>All the latest product information, offers and general business news</h6>
</div>
<% @announcements.each do |announcement| %>
  <div class="well">
    <%= image_tag('news.png', class: 'header').concat(content_tag :h3, announcement.headline) %>
    <br>
    <%= simple_format(announcement.description) %>
    <br>
    <p class="muted">
      <%= "Posted by #{announcement.posted_by} #{local_time_ago(announcement.created_at)} ago".html_safe	%>
    </p>
  </div>
<% end %>
