.page-header
  .media
    .pull-left
      =image_tag('user.png', class: 'media-object')
    .media-body
      h2 Edit #{@user.name} Subscription
      = link_to admins_user_path(@user) do
        = fa_icon 'arrow-left', text: 'Back'

.well.well-small
    p
      strong Plan
      '
      = @user.subscription.description
    p
      strong Duration
      '
      = pluralize(@user.subscription.duration, 'Month')
    p
      strong Cost
      '
      = number_to_currency(@user.subscription.cost)


= form_for([:admins, @user, @subscription], html: { data: { validate: true }}) do |f|
  .control-group
    = f.label :expiry_date, class: 'control-label'
    .controls
      = f.text_field :expiry_date, value: f.object.expiry_date.to_date.strftime('%d %B %Y'), data: { behaviour: 'datepicker'}
  = f.submit 'Extend Subscription'