= image_tag 'user.png', class: 'header'
h2 User Profile

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.text_field :name
  = f.email_field :email, as: :email
  = f.password_field :password, autocomplete: :off, label: "Password (leave blank if you don't want to change it)"
  = f.password_field :password_confirmation
  = f.password_field :current_password, label: "Current Password (we need your current password to confirm your changes)"
  = f.time_zone_select :time_zone, nil
  = f.submit 'Update'
hr

#subscription_status
  = image_tag('expired.png', class: 'header')
  p
    | #{strong 'Note:'} Your current subscription is valid until #{content_tag :span, local_date(current_user.subscription.expiry_date), class: 'label label-info'}<br>
      (You will be prompted to renew when logging in after this date)

= link_to "Have a Voucher? Click here to redeem it", "#vouchers", data: { toggle: "collapse"}
#vouchers.collapse[style="margin-top: 5px;"]
  = form_tag redeem_path, method: :patch do |f|
    .controls
      = text_field_tag :unique_code,nil, placeholder: 'Enter voucher number here:'
    .actions
      = submit_tag 'Redeem', class: 'btn btn-primary'
hr

h3 Cancel my account

p
  | Unhappy?
  '
  = link_to "Cancel my account", registration_path(resource_name), data: { confirm: '<span class="label label-important">WARNING!</span><br><br>'+'You are about to delete your ENTIRE ACCOUNT!<br><b>NOTE:</b> All related clients and invoices will also be deleted! This cannot be undone!<br><br> Are you sure you want to cancel your account?' }, method: :delete
p
  | (We would hate to see you go! Instead, why not #{link_to 'contact us', new_contact_path}, tell us why you are unhappy, and let's first see if we can cater to your needs)

hr

ul.inline
  li= link_to :back do
    = fa_icon 'arrow-left', text: 'Back'
  li= link_to company_path do
    = fa_icon 'institution', text: 'Company Profile'
  li= link_to settings_path do
    = fa_icon 'gears', text: 'Settings'