h3 You received a message from PayingMantis.com Contact Us Page with the following details:
p Name: #{@message.name}
p Email: #{@message.email}
p Subject: #{@message.subject}
p Body: #{@message.body}
p Respond ASAP!
