<h3>You received a message from PayingMantis.com Contact Us Page with the following details:</h3>
<p>Name: <%= @message.name %></p>
<p>Email: <%= @message.email %></p>
<p>Subject: <%= @message.subject %></p>
<p>Body: <%= @message.body %></p>

<p>Respond ASAP!</p>
