<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Welcome to www.Slooly.com, <%= @user.name %></h2>
	<h4>The site that makes chasing your debtors easier!<h4><br>

	Thank you for registering!

    <p>
      You have successfully signed up to the service with the following credentials:<br><br>

		Email: <%= @user.email %> (Log in with this)<br>
		Username: <%= @user.name %><br><br>
		For security purposes, we will not send you your password.<br>
		If you ever forget it, simply go to the login page at www.slooly.com/signup, <br>click on forgot password, enter in the above email address, and we will send you instructions on resetting the password.
		
    </p>
    <p>
      To login to the site, just follow this link: www.slooly.com/login.
    </p>
	<p>We sincerely hope it makes your life easier.<br>
       Thanks for joining and have a great day!</p><br>

	Cheers for now!<br>
	The Slooly Team.<br><br>
	PS. If you ever need any help, you can check out the tutorials here: www.tuts.com<br>
	    (And if that doesn't answer your questions, you can contact us here: www.contact.com)

  </body>
</html>


