= form_for([:admins, @plan]) do |f|
  .control-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_field :description
  .control-group
    = f.label :duration, class: 'control-label'
    .controls
      = f.number_field :duration
  .control-group
    = f.label :cost, class: 'control-label'
    .controls
      = f.text_field :cost
  .control-group
    = f.label :active, class: 'checkbox' do
      = (f.check_box :active) + "Active"
  = f.submit 'Save', class: 'btn btn-primary'
