<div class="page-header">
  <h1><%= image_tag('invoices.png') %> Edit Invoice</h1>
  <div class="media">
  <%= link_to @invoice do %>
    <%= fa_icon 'arrow-left', text: 'Back' %>
  <% end %>
</div>
<%= render 'form' %>
