.page-header
  .media
    .pull-left
      =image_tag('invoices.png', class: 'media-object')
    .media-body
      h1 Edit Invoice
      = link_to invoices_path do
        = fa_icon 'arrow-left', text: 'Back'
= render 'form'

