$("#invoices").html("<%= j render 'invoices', invoices: @invoices %>");
$(".pagination-details").html("<h5><%= page_entries_info @invoices %></h5>");
$(".messages").html("<%= j render 'layouts/messages' %>");
$.bootstrapSortable(true);
