<table class="table table-bordered table-condensed sortable">
  <thead>
    <tr>
      <th>Business Name</th>
      <th>Contact Person</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Created</th>
      <th data-defaultsort="disabled"></th>
    </tr>
  </thead>
  <tbody>
    <%= render clients, cache: true %>
  </tbody>
</table>
<div class='text-center'>
  <%= paginate clients, remote: true %>
</div>
