<div class="page-header">
  <div class="media">
    <div class="pull-left">
      <%= image_tag('clients.png', class: 'media-object') %>
    </div>
    <div class="media-body">
      <h1>Edit Client</h1>
      <%= link_to clients_path do %>
          <%= fa_icon 'arrow-left', text: 'Back' %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'form' %>
