.page-header
  .media
    .pull-left
      =image_tag('clients.png', class: 'media-object')
    .media-body
      h1 Edit Client
= render 'form'
= link_to 'Show', @client
|  | 
= link_to 'Back', :back
