| $("#clients").html("#{j render 'clients', clients: @clients}");
| $(".pagination-details").html("<h5>#{page_entries_info @clients}</h5>");
| $(".messages").html("#{j render 'layouts/messages'}");
| $.bootstrapSortable(true);