.page-header
  .media
    .pull-left
      =image_tag('clients.png', class: 'media-object')
    .media-body
      h1 Add a Client
      = link_to clients_path do
        = fa_icon 'arrow-left', text: 'Back'
= render 'form'
