- cache @client do
  .page-header
    .media
      .pull-left
        =image_tag('clients.png', class: 'media-object')
      .media-body
        h1 Client Details
        h3=@client.business_name
        = link_to clients_path do
          = fa_icon 'arrow-left', text: 'Back'
  p
    ' Business Name:
    strong=@client.business_name
  p Contact Person: #{@client.contact_person }
  p Telephone: #{number_to_phone(@client.telephone, area_code: true)}
  p Fax:  #{number_to_phone(@client.fax, area_code: true)}
  p Email: #{obfuscate_email @client.email if @client.email.present? }
  address
    strong Address
    br
    | #{@client.address}
    br
    | #{@client.city}
    br
    | #{@client.post_code}

  ul.inline
    li= link_to  edit_client_path(@client) do
      = fa_icon 'edit', text: ' Edit this client'
    li= link_to @client, method: :delete, data: {confirm: "<p>You are about to delete the client <strong>#{@client.business_name}!</strong></p><p><strong>NOTE:</strong> All related invoices will also be deleted! This cannot be undone!</p><p>Are you sure you want to continue?</p>"}, class: 'delete-client' do
      = fa_icon 'trash', text: 'Delete'
    li= link_to new_client_path do
      = fa_icon 'male', text: ' Add another Client'
    li= link_to new_client_invoice_path(@client) do
      = fa_icon 'file-text', text: ' Add invoice for this client'

  hr
  .tabbable.tabs-top
    ul#invoices.nav.nav-tabs
      li.active
        a[href="#chasing" data-toggle="tab"] Currently Chasing
      li
        a[href="#history" data-toggle="tab"] Chasing History
    .tab-content
      #chasing.tab-pane.fade.in.active
        - if @client.outstanding_invoices.any?
          p
            | You are currently chasing the following <strong>#{pluralize(@client.outstanding_invoices.size, 'invoice')}</strong> for
               <strong>#{ @client.business_name}</strong> to the value of <strong>#{@client.outstanding_invoices.total}</strong> (total chasing amount).
          table
            thead
            th
              | Age
              '
              i.icon-question-sign[rel='popover' data-container='body' data-trigger='hover' data-title='Invoice Age' data-content='The number of days that have passed since the invoice became due. If the number is negative(-), it means that the invoice is not yet due (i.e. "-5" means the payment is only due in 5 days time). Overdue invoices are Red, Invoices due today are Blue, and upcoming invoices are Green']
              th Invoice Number
              th Due Date
              th Amount
              th Description
              th Created
              th
            tbody= render partial: 'clients/invoices/outstanding', collection: @client.outstanding_invoices, as: :invoice, cache: true
        - else
          p You are <strong>not</strong> chasing any invoices for #{@client.business_name}.
      #history.tab-pane.fade.in
        - if @client.histories.any?
          p  Here are the emails you have <strong>already sent</strong> to <strong>#{@client.business_name}</strong> (Newest to Oldest).
          table
            tr
              th Date Sent
              th Sent To
              th Type
              th Reference
              th Subject
              th Message
            = render @client.histories, cache: true
        - else
          p You have <strong>no</strong> chasing history for #{@client.business_name}.
    hr
