<div class="page-header">
  <%= image_tag("welcome.png") %>
  <h3>We are so pleased that you have signed up with us!</h3>
</div><h4>For best results, you should complete the below 2 steps:</h4>
<br/>
<h2>1. Setup your Company</h2>
<h2>2. Review and customize your Settings</h2>
<br/>
<br/>
<h4>Click the button below to continue:</h4>
<br/>
<br/>
<%= link_to 'Setup my Company Details now', company_path, class: 'btn btn-large btn-primary' %>
<hr/>
<p>
  <strong>Note:</strong> After setting up your Company Details, you can customize your settings by clicking
  <strong>Settings</strong> in the <strong>Account</strong> menu.
  <br/>
  (Default Company and Setting records have already been created for you, so you are ready to go once you customize them
  to suit your business)
</p><br/>
<p>If you need any help, you can click on the <strong>Account</strong> drop down menu, and then select
  <strong>Help</strong>.</p>
