.page-header
  h1 Users

table.table.table-condensed[data-sortable=true]
  tr
    th Name
    th Email
    th Registered
    th Last Signed in
    th Sign in Count
    th Subscription Plan
    th Subscription Expires
    th
  - @users.each do |user|
    tr
      td=link_to user.name, admins_user_path(user)
      td=user.email
      td[data-value=user.created_at]= timeago(user.created_at)
      td[data-value=user.last_sign_in_at]= timeago(user.last_sign_in_at) unless user.sign_in_count.zero?
      td= user.sign_in_count
      td= user.subscription.plan_description
      td[data-value=user.subscription.expiry_date]= timeago(user.subscription.expiry_date)
      td= link_to impersonations_path(id: user.id), method: :post do
        = fa_icon 'sign-in', text: 'Sign in as this user'

  = paginate @users