= form_for @settings, builder: BootstrapFormBuilder do |f|
  br
  br
  .tabbable.tabs-left
    ul#myTab.nav.nav-tabs
      li.active
        a[href="#general" data-toggle="tab"] General
      li
        a[href="#predue" data-toggle="tab"] Pre-Due Reminder
      li
        a[href="#due" data-toggle="tab"] Due Reminder
      li
        a[href="#od1" data-toggle="tab"] Overdue Reminder 1
      li
        a[href="#od2" data-toggle="tab"] Overdue Reminder 2
      li
        a[href="#od3" data-toggle="tab"] Overdue Reminder 3
      li
        a[href="#fd" data-toggle="tab"] Final Demand
    #myTabContent.tab-content
      #general.tab-pane.fade.in.active
        h3 General Settings
        .row
          .span5
            = f.text_field :send_from_name
            = f.text_field :email_copy_to
            = f.text_field :days_between_chase
            = f.text_field :days_before_pre_due
            = f.text_area :payment_method_message
          .span4.well
            .media
              .pull-left
                =image_tag('tip.png', class: 'media-object')
              .media-body
                h3.media-heading Notes:
            ul
              li=simple_format(t('forms.notes.settings.send_from_name'))
              li=simple_format(t('forms.notes.settings.email_copy_to'))
              li=simple_format(t('forms.notes.settings.days_between_chase'))
              li=simple_format(t('forms.notes.settings.days_before_pre_due'))
              li=simple_format(t('forms.notes.settings.payment_method_message'))

      #predue.tab-pane.fade
        h3 Pre-Due Reminder
        .row
          .span5
            = f.check_box :pre_due_reminder, label: 'Send pre due reminder'
            = f.text_field :pre_due_subject
            = f.text_area :pre_due_message
          .span4.well
            .media
              .pull-left
                =image_tag('tip.png', class: 'media-object')
              .media-body
                h3.media-heading Notes:
            ul
              li=simple_format(t('forms.notes.settings.pre_due_reminder_checkbox'))
              li=simple_format(t('forms.notes.settings.pre_due_subject'))
              li=simple_format(t('forms.notes.settings.pre_due_message'))


      #due.tab-pane.fade
        h3 Due Reminder
        .row
          .span5
            = f.check_box :due_reminder, label: 'Send due reminder'
            = f.text_field :due_subject
            = f.text_area :due_message
          .span4.well
            .media
              .pull-left
                =image_tag('tip.png', class: 'media-object')
              .media-body
                h3.media-heading Notes:
            ul
              li=simple_format(t('forms.notes.settings.due_reminder_checkbox'))
              li=simple_format(t('forms.notes.settings.due_subject'))
              li=simple_format(t('forms.notes.settings.due_message'))

      #od1.tab-pane.fade
        h3 First Overdue Reminder
        .row
          .span5
            = f.text_field :overdue1_subject
            = f.text_area :overdue1_message
          .span4.well
            .media
              .pull-left
                =image_tag('tip.png', class: 'media-object')
              .media-body
                h3.media-heading Notes:
            ul
              li=simple_format(t('forms.notes.settings.overdue1_subject'))
              li=simple_format(t('forms.notes.settings.overdue1_message'))
      #od2.tab-pane.fade
        h3 Second Overdue Reminder
        .row
          .span5
            = f.text_field :overdue2_subject
            = f.text_area :overdue2_message
          .span4.well
            .media
              .pull-left
                =image_tag('tip.png', class: 'media-object')
              .media-body
                h3.media-heading Notes:
            ul
              li=simple_format(t('forms.notes.settings.overdue2_subject'))
              li=simple_format(t('forms.notes.settings.overdue2_message'))
      #od3.tab-pane.fade
        h3 Third Overdue Reminder
        .row
          .span5
            = f.text_field :overdue3_subject
            = f.text_area :overdue3_message
          .span4.well
            .media
              .pull-left
                =image_tag('tip.png', class: 'media-object')
              .media-body
                h3.media-heading Notes:
            ul
              li=simple_format(t('forms.notes.settings.overdue3_subject'))
              li=simple_format(t('forms.notes.settings.overdue3_message'))
      #fd.tab-pane.fade
        h3 Final Demand
        .row
          .span5
            = f.text_field :final_demand_subject
            = f.text_area :final_demand_message
          .span4.well
            .media
              .pull-left
                =image_tag('tip.png', class: 'media-object')
              .media-body
                h3.media-heading Notes:
            ul
              li=simple_format(t('forms.notes.settings.final_demand_subject'))
              li=simple_format(t('forms.notes.settings.final_demand_message'))
  hr
  .actions
    = f.submit 'Save your Settings'
