.page-header
  .media
    .pull-left
      =image_tag('settings.png', class: 'media-object')
    .media-body
      h1 Edit Settings
= render 'form'
hr
= link_to "Back", :back
|  | 
= link_to "User Profile", edit_user_registration_path
|  | 
= link_to "Company Profile", company_path
