<img src="/images/settings.png" class="header"><h1>Settings</h1>

<%= render 'form' %>

<hr class="bs-docs-separator">

<%= link_to "Back", :back %> | <%= link_to "User Profile", edit_user_registration_path %> | <%= link_to "Company Profile", companies_path %>
