.page-header
  .media
    .pull-left
      =image_tag('settings.png', class: 'media-object')
    .media-body
      h1 Settings
.tabbable.tabs-left
  ul#myTab.nav.nav-tabs
    li.active
      a[href="#general" data-toggle="tab"] General
    li
      a[href="#predue" data-toggle="tab"] Pre-Due Reminder
    li
      a[href="#due" data-toggle="tab"] Due Reminder
    li
      a[href="#od1" data-toggle="tab"] Overdue Reminder 1
    li
      a[href="#od2" data-toggle="tab"] Overdue Reminder 2
    li
      a[href="#od3" data-toggle="tab"] Overdue Reminder 3
    li
      a[href="#fd" data-toggle="tab"] Final Demand
  #myTabContent.tab-content
    #general.tab-pane.fade.in.active
      h3 General Settings
      h5 Sent From:
      = @settings.send_from_name
      br
      h5 Send copy of all email to:
      = @settings.email_copy_to
      br
      h5 Days for Pre-due reminder:
      = pluralize(@settings.days_before_pre_due, 'day')
      br
      br
      h5 Days between reminder emails:
      = pluralize(@settings.days_between_chase, 'day')
      br
      h5 Payment Method Message:
      = simple_format(@settings.payment_method_message)
    #predue.tab-pane.fade
      h3 Pre-Due Reminder
      br
      h5 Send Pre-Due reminder:
      = boolean_to_words(@settings.pre_due_reminder).upcase
      br
      h5 Pre-Due Email Subject line:
      = @settings.pre_due_subject
      br
      h5 Pre-Due Email Message Content:
      = simple_format(@settings.pre_due_message)
    #due.tab-pane.fade
      h3 Due Reminder
      h5 Send Due reminder:
      = boolean_to_words(@settings.due_reminder).upcase
      br
      h5 Email Subject Line:
      = @settings.due_subject
      br
      h5 Email Message Content:
      = simple_format(@settings.due_message)
    #od1.tab-pane.fade
      h3 First Overdue Reminder
      br
      h5 Email Subject Line:
      = @settings.overdue1_subject
      br
      h5 Email Message Content:
      = simple_format(@settings.overdue1_message)
    #od2.tab-pane.fade
      h3 Second Overdue Reminder
      br
      h5 Email Subject Line:
      = @settings.overdue2_subject
      br
      h5 Email Message Content:
      = simple_format(@settings.overdue2_message)
    #od3.tab-pane.fade
      h3 Third Overdue Reminder
      br
      h5  Email Subject Line:
      = @settings.overdue3_subject
      br
      h5 Email Message Content:
      = simple_format(@settings.overdue3_message)
    #fd.tab-pane.fade
      h3 Final Demand
      br
      h5 Email Subject Line:
      = @settings.final_demand_subject
      br
      h5 Email Message Content:
      = simple_format(@settings.final_demand_message)
hr
h5= link_to 'Edit your settings', edit_setting_path(@settings)
h5
  | (Above is how the messages will appear on your reminder emails)
hr
= link_to "Back", :back
|  |
= link_to "User Profile", edit_user_registration_path
|  |
= link_to "Company Profile", companies_path
