.page-header
  h3 Frequently Asked Questions
a[href="#Question1"] 1. How much does Paying Mantis cost?
br
a[href="#Question2"] 2. Can I load old outstanding invoices?
br
a[href="#Question3"] 3. Is there a limit on the number of clients I can load?
br
a[href="#Question4"] 4. Is there a limit on the number of invoices per client that I can load?
br
a[href="#Question5"] 5. What if my registration email did not get delivered?
br
a[href="#Question6"] 6. Can I send the reminder emails to more than one person?
br
a[href="#Question7"] 7. Won't using Paying Mantis scare away my customers?
br
a[href="#Question8"] 8. Is Paying Mantis available as a mobile app?
br
a[href="#Question9"] 9. What does my client see when they get a reminder?
br
a[href="#Question10"] 10. Can I load myself as a test client to see how it all works?
br
a[href="#Question11"] 11. How quickly will I get an answer to any support emails?
br
a[href="#Question12"] 12. Can I submit an idea for a new feature for Paying Mantis?
br
a[href="#Question13"] 13. Do I need any specific accounting software in order to use Paying Mantis?
br
a[href="#Question14"] 14. Can Paying Mantis hook into my existing accounting software to automate it even further?
br
a[href="#Question15"] 15. How secure is my data?
br
a[href="#Question16"] 16. Do I still own my data once I upload it to your servers?
br
a[href="#Question17"] 17. Will you ever sell any of my information?
br
a[href="#Question18"] 18. Is it easy to cancel my account and remove my data?
br
a[href="#Question19"] 19. How do I send a Final Demand letter?
br
a[href="#Question20"] 20. Can I upload my existing clients and invoices all at once?
br
a[href="#Question21"] 21. How do I stop the reminders for clients that have paid?
br
a[href="#Question22"] 22. How can I see when the reminders will be sent?
br
a[href="#Question23"] 23. How can I see which reminders have already been sent to clients?
br
a[href="#Question24"] 24. What is the easiest way to mark an invoice as paid?
br
a[href="#Question25"] 25. You mentioned Charity?
br
a[href="#Question26"] 26. Why is Paying Mantis so awesome?
br
a[href="#Question27"] 27. What does it mean when I am chasing an invoice?
br
br
p Your question not listed above? You can also check out the #{link_to 'About', about_path} page or #{link_to 'Contact Us',contact_path}.
hr
h3 Answers
br
a> name="Question1" 1. How much does Paying Mantis cost?
a[href="#top"] (Back to Top)
br
p
  | There are a few options available, namely Basic (Monthly), Bronze (3 Months, 16% discount), Silver (6 Months, 33% discount) and Gold (12 Months, 50% discount).
    Everyone automatically starts out on the fully functioning free version. After 1 month of the free version, you will be asked which of the payment plans you would like to upgrade to in order to continue using the software.
    For more information on pricing, have a look at the #{link_to 'pricing', pricing_path} page.
br
a> name="Question2" 2. Can I load old outstanding invoices?
a[href="#top"] (Back to Top)
br
p
  | Of course you can! Gather all your old outstanding invoices that you have given up receiving payment on, and load a few of them and watch Paying Mantis do it's job.
    You have nothing to lose and everything to gain.
    <strong>Note:</strong> For best results with old outstanding invoices, we recommend that you load them into Paying Mantis with a due date of yesterday.
    This will ensure that a "pre-due" and "due" reminders are not sent (because obviously for these bad payers, the due date has already passed).
    It will also make sure that the chain of overdue reminders sent will start at the first one, and go through the entire process, yielding the best possible results for your business.
    If thereafter, your client still has not paid you, you have the option of sending them a Final Demand letter directly from the website.
br
a> name="Question3" 3. Is there a limit on the number of invoices per client that I can load in the free trial?
a[href="#top"] (Back to Top)
br
p  No. You can load as many invoices as you want. For more information on payments, have a look at the #{link_to 'pricing', pricing_path} page.
br
a> name="Question4" 4. Is there a limit on the number of clients I can load in the free trial?
a[href="#top"] (Back to Top)
br
p  No. You can have as many clients as you want. For more information on payments, have a look at the #{link_to 'pricing', pricing_path} page.
br
a> name="Question5" 5. What if my registration email did not get delivered?
a[href="#top"] (Back to Top)
br
p For maximum reliability, we use specialized bulk email services. The delivery rate of the emails is very reliable. So if you or your clients do not receive emails, please make sure to check your email junk and spam folders. We take the greatest care to ensure that every email gets delivered to it's intended recipient, but some email filters are more strict than others, so that would always be the first place to check.
br
a> name="Question6" 6. Can I send the reminder emails to more than one person?
a[href="#top"] (Back to Top)
br
p At present, you can send the reminder to one email address per client, and also send a copy of that reminder to one other person (for example, if you wanted to CC yourself in the reminder emails). This can be setup in the settings.
br
a> name="Question7" 7. Won't using Paying Mantis scare away my customers?
a[href="#top"] (Back to Top)
br
p Not at all, no! As far as the customer is concerned, it will seem like they received an email that you typed out and sent them. There is no indication that it has been sent from Paying Mantis. And the wording of the emails can be as gentle and friendly as you want it to be. Of course, if you wanted to be a lot more stern in the final reminder, that is up to you. Chase your customers as gently or as aggressively as you want to. We leave it up to you.
br
a> name="Question8" 8. Is Paying Mantis available as a mobile app?
a[href="#top"] (Back to Top)
br
p It will be. We are working on the Mobile App and once it is available, you will be notified. But don't be afraid to use the current web application on your mobile devices. We have taken great care to make sure that the application works on many screen sizes, including tablets and smart phones. But we want your life to be as easy as possible, and are therefore making the mobile app as well. Keep a look out for it.
br
a> name="Question9" 9. What does my client see when they get a reminder?
a[href="#top"] (Back to Top)
br
p They see a regular email addressed to them, with a from address that is yours (as setup in your company profile). For an example, log in, and click on account, and then select help in the drop down menu. It will give you a full breakdown of how the emails look, and how they are built up.
br
a> name="Question10" 10. Can I load myself as a test client to see how it all works?
a[href="#top"] (Back to Top)
br
p Of course you can! In fact, we encourage it. Load yourself as a customer, using your email address. Load a test invoice for yourself, and wait for the emails to arrive around the due date, as configured in your settings.
br
a> name="Question11" 11. How quickly will I get an answer to any support emails?
a[href="#top"] (Back to Top)
br
p We are serious about customer service, and we try our best to get an answer to each and every one of our customers within 24 hours of you contacting us. We typically answer within 5 to 10 hours though.
br
a> name="Question12" 12. Can I submit an idea for a new feature for Paying Mantis?
a[href="#top"] (Back to Top)
br
p Yes, please do! Whenever you log out of your account, you will be presented with a screen where you can give us feedback on your experience, and request new features. If enough people request the same features, we will certainly look into it. You can give us feedback anonymously, or enter in your contact email address in the optional email field on that form. Your honest thoughts are welcome, as we are always striving to make our products the best they can be.
br
a> name="Question13" 13. Do I need any specific accounting software in order to use Paying Mantis?
a[href="#top"] (Back to Top)
br
p No. Paying Mantis works absolutely independently from any accounting software. No matter what your account package is, you can load your invoices for Paying Mantis to chase.
br
a> name="Question14" 14. Can Paying Mantis hook into my existing accounting software to automate it even further?
a[href="#top"] (Back to Top)
br
p At the moment, no. But we are in discussions with a lot of the large accounting software development teams, and are working on getting interoperability between their packages and ours working, in order to make this a reality.
br
a> name="Question15" 15. How secure is my data?
a[href="#top"] (Back to Top)
br
p
  | Very. It is stored on secure servers and we take every precaution to make sure no-one but you can see your data.
    For more information, view our #{link_to 'privacy policy', privacy_path}.
br
a> name="Question16" 16. Do I still own my data once I upload it to your servers?
a[href="#top"] (Back to Top)
br
p  Yes, you do. Your data is yours, and always will be.
br
a> name="Question17" 17. Will you ever sell any of my information?
a[href="#top"] (Back to Top)
br
p  Never! And that is a promise! For more information, view our #{link_to 'privacy policy', privacy_path}.
br
a> name="Question18" 18. Is it easy for me to cancel my account and remove my data?
a[href="#top"] (Back to Top)
br
p
  | Yes, it is. If you are unhappy with the product, simply go to your user profile (in the Account drop down menu), and click on the "Cancel my Account" link.
    Beware that this will delete all your customer and invoice information and close your Paying Mantis account.
    We hope that you love the service though, and if you ever are unhappy, we would prefer that you rather #{link_to 'contact us', contact_path}
    and let us know why, so we can try make things better for you.
br
a> name="Question19" 19. How do I send a Final Demand letter?
a[href="#top"] (Back to Top)
br
p Go to the edit screen of specific invoice in question, and change the status of the invoice to "Send Final Demand", and save. That's it!
br
a> name="Question20" 20. Can I upload my existing clients and invoices all at once?
a[href="#top"] (Back to Top)
br
p At the moment, no. But it is currently under development for the next version of Paying Mantis (Along with a lot of other goodies)
br
a> name="Question21" 21. How do I stop the reminders for clients that have paid?
a[href="#top"] (Back to Top)
br
p As soon as a client has paid, edit the invoice and mark it as Paid, and the chasing will stop automatically.
br
a> name="Question22" 22. How can I see when the reminders will be sent?
a[href="#top"] (Back to Top)
br
p  Simply view any invoice to see the reminder email date schedule for it.
br
a> name="Question23" 23. How can I see which reminders have already been sent to clients?
a[href="#top"] (Back to Top)
br
p View the client, and you will see a section at the bottom that has two tabs. The first tab shows all the invoices you are currently chasing for that client, and the second tab will show you the reminder email history for that client (All his past invoice reminders). You can also see the exact email that was sent by clicking on the invoice number in this list.
br
a> name="Question24" 24. What is the easiest way to mark an invoice as paid?
a[href="#top"] (Back to Top)
br
p
  | Go to your home screen. This will show all the invoices that you are currently chasing. Simply click on the green <span class='label label-success'> Chasing</span>
    label, and it will change into a drop down list, which will enable you to select "Paid".
    This saves automatically and will stop all chasing for that invoice. Next time you view the home screen, that invoice will no longer appear.
br
a> name="Question25" 25. You mentioned Charity?
a[href="#top"] (Back to Top)
br
p
  | We are a company that does like to give back wherever possible. And as you can see from our #{link_to 'pricing', pricing_path}
    , we offer this service at very affordable prices for businesses. So we urge you to upgrade to a paid package if you enjoy the service, and it works for you. We always try give a percentage of the Paying Mantis profits to charity. Look out in the news section for information of which charities will benefit. We pick one new charity each year.
br
a> name="Question26" 26. Why is Paying Mantis so awesome?
a[href="#top"] (Back to Top)
br
p It just is :)
br
a> name="Question27" 27. What does it mean when I am chasing an invoice?
a[href="#top"] (Back to Top)
br
p  Your Home screen shows all the invoices that you are currently chasing. This means that they are the invoices that the system is tracking and sending reminder emails for. "Chasing" is the only status that automatically sends out invoice reminders according to your settings. The only other status that will send out a reminder is "Send Final Demand", but this is only done when you change the status manually. It will not send automatically.
hr
p  For more information on how Paying Mantis works, check out the #{link_to 'About page', about_path} .
