<!-- SS Welcome Initial Form -->
<%= image_tag("welcome.png") %>
<h3>We are so pleased that you have signed up with us!</h3><br><br>

<hr class="bs-docs-separator">

<h4>For best results, you should complete the below 2 steps:</h4><br>

<h2>1. Setup your Company</h2>
<h2>2. Review and customize your Settings</h2><br><br>

<h4>Click the button below to continue:</h4><br><br>
<a href="<%= companies_path %>" class="btn btn-large btn-primary">Setup my Company Details now</a>

<hr class="bs-docs-separator">

<b>Note:</b> After setting up your Company Details, you can customize your settings by clicking <b>Settings</b> in the
<b>Account</b> menu.<br>
(Default Company and Setting records have already been created for you, so you are ready to go once you customize them to suit your business)
<br><br>
If you need any help, you can click on the <b>Account</b> drop down menu, and then select <b>Help</b>.