.page-header
  = image_tag("welcome.png")
  h3 We are so pleased that you have signed up with us!
h4 For best results, you should complete the below 2 steps:
br
h2 1. Setup your Company
h2 2. Review and customize your Settings
br
br
h4 Click the button below to continue:
br
br
= link_to 'Setup my Company Details now', companies_path , class: 'btn btn-large btn-primary'
hr
p
  | #{strong 'Note:'} After setting up your Company Details, you can customize your settings by clicking #{strong 'Settings'} in the #{strong 'Account'} menu.
  br
  | (Default Company and Setting records have already been created for you, so you are ready to go once you customize them to suit your business)
br
p If you need any help, you can click on the #{strong 'Account'} drop down menu, and then select#{strong 'Help'}.
