<h1>30-day Free Trial on All Paid Accounts</h1>
<h2>Upgrade, downgrade, cancel at any time!</h2>
<h3>(And the FREE version is free forever and fully functional!)</h3><br><br>

<h6>But don't worry about choosing a plan now.<br> Simply <%= link_to "Sign up for the FREE plan", new_user_registration_path %> and only upgrade to a paid plan if and when you need it.<br> All users start out on the FREE plan anyway!</h6><br>


<h3>We have a plan to fit any business, and budget! <%= link_to "Sign up Now!", new_user_registration_path %></h3><br>
	<div class="section1">
		<h3>FREE!</h3>
		<h4>Max 5 clients</h4>Every User starts off free! Only pay when you want or need to.
		<p1>&nbsp;</p1><br>
		<!-- <p1><a1 href="#" class="more">read more</a1></p1> -->
	</div>
	<div class="section2">
		<h3>Bronze - $5 p/m</h3>
		<h4>Up to 10 clients</h4>Extremely affordable! For small businesses with a small client base.</p1>
		<p1>&nbsp;</p1><br>
		<!-- <p1><a1 href="#" class="more">read more</a1></p1> -->
	</div>
	<div class="section3">
		<h3>Silver - $10 p/m</h3>
		<h4>Up to 50 clients</h4>Still extremely affordable! This is our most popular payment plan.</p1>
		<p1>&nbsp;</p1><br>
		<!-- <p1><a1 href="#" class="more">read more</a1></p1> -->
	</div>
	<div class="section4">
		<h3>Gold - $20 p/m</h3>
		<h4>Unlimited clients</h4>Why limit yourself? For a modest $20 per month, load up as much as you want!</p1>
		<p1>&nbsp;</p1><br>
		<!-- <p1><a1 href="#" class="more">read more</a1></p1> -->
	</div>
</span>
