<h3>Editing Company Details</h3><br>

<%= render 'form' %>


<hr class="bs-docs-separator">

<%= link_to "Back", :back %> | <%= link_to "User Profile", edit_user_registration_path %> | <%= link_to "Settings", settings_path %>