.row
  .span2
    = image_tag("sadmansmall.jpg")
  .span5
    br
    br
    h1
      | We're sorry!
    br
    h3
      | But the page you were looking for does not exist!
    |  (So sorry to disappoint you! Please use the menu items above to navigate) 
