<div class="row">
  <div class="span2">
    <%= image_tag("sadmansmall.jpg") %>
  </div>
  <div class="span5">
    <br/>
    <br/>

    <h1>
      We're sorry!
    </h1><br/>

    <h3>
      But the page you were looking for does not exist!
    </h3> (So sorry to disappoint you! Please use the menu items above to navigate)
  </div>
</div>
