= image_tag('expired.png', class: 'header')
p
   | <strong>Note:</strong> Your current subscription is valid until: <strong>#{current_user.active_subscription.expiry_date.strftime('%A, %d %B %Y')}</strong><br>
     (You will be prompted to renew when logging in after this date)
