= image_tag('expired.png', class: 'header')
p
   | #{strong 'Note:'} Your current subscription is valid until: #{strong l(current_user.subscription_expiry_date)}<br>
     (You will be prompted to renew when logging in after this date)
