<h2>Thank you!</h2>
<%= image_tag ("success.png") %>
<h3>Your subscription has been successfully renewed!</h3>
<p>
  You may now continue to use the Paying Mantis service by clicking on the menu options above.<br>

  Or click here to go to your <%= link_to 'Home', root_path %> page.
</p><br/>
<p>
  <strong>Note:</strong>
  You can check your subscription status in your <%= link_to "User Profile", edit_user_registration_path %>.
</p>
