<p id="notice"><%= notice %></p>

<h2>Thank you!</h2>
<h3>Your subscription has been renewed!</h3><br>
You may now continue to use the Paying Mantis service by clicking on the menu options above.
<br><br>
Note: You can check your subscription status in your account profile.