<h3>Customer Feedback and Comments</h3>
<p>We're here to help! And we would love to hear what you think of our product.<br> 
	If you would like to give us any feedback, or would like to make any feature requests,<br>
	please don't hesitate to contact us using the form below. Thank you for your support!</p><br>


<%= render 'form' %>

<p>If you have any Support related issue, please use the <a href ="#">Contact Us</a> page instead.</p>

<%= link_to 'Head back to the Home page.', root_path %> Come back soon!<br>
To login again, <%= link_to 'click here', new_user_session_path %>  
