<footer class="footer">
  <small>
	 <a href="http://searleconsulting.com/">Searle Consulting © Copyright 2012</a>
  </small>
  <nav>
    <ul>
      <li><a href="/pages/about">About</a></li>
      <li><a href="/pages/contact">Contact</a></li>
      <li><a href="/pages/tos">Terms</a></li>
      <li><a href="/pages/privacy">Privacy</a></li>
      <li><%= link_to "News", announcements_path %></li>
    </ul>
  </nav>
</footer>