<footer class="footer">
  <small>
	 <a href="http://searleconsulting.com/">Copyright Searle Consulting 2012</a> by Searle Consulting
  </small>
  <nav>
    <ul>
      <li><a href="/pages/about">About</a></li>
      <li><a href="/pages/contact">Contact</a></li>
      <li><a href="/pages/news">News</a></li>
    </ul>
  </nav>
</footer>