<footer class="footer">
  <small>
    <a href="http://searleconsulting.com/">Copyright Searle Consulting 2012</a>
    by Searle Consulting
  </small>
  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>