= link_to "Paying Mantis - Get paid on time!", root_path, class: 'brand'
ul.nav.pull-right
  li= link_to 'Home', root_path
  - if session[:current_admin].present?
    li=link_to "Sign in as admin", impersonation_path('revert'), method: :delete
  - if user_signed_in?
    - if current_user.admin?
      li= link_to 'News', admin_announcements_path
      li= link_to 'Plans', admin_plans_path
      li= link_to 'Suggestions', admin_suggestions_path
    - else

      li= link_to 'Clients', clients_path
      li= link_to 'Invoices', invoices_path
      li= link_to 'Add Client', new_client_path
      li= link_to 'Add Invoice', new_invoice_path
      li= link_to 'Reports', reports_path
    li#fat-menu.dropdown
      a.dropdown-toggle[href="#" data-toggle="dropdown"]
        = "Account (#{current_user.name})"
        b.caret
      ul.dropdown-menu
        li= link_to "Settings", settings_path
        li= link_to "User Profile", edit_user_registration_path
        li= link_to "Company Profile", company_path
        li= link_to "Help", tutorial_path
        li.divider
        li= link_to 'Logout', destroy_user_session_path, method: :delete
  - else
    li= link_to 'Sign up', new_user_registration_path
    li= link_to 'Pricing', pricing_path
    li= link_to 'About', about_path
    li= link_to 'Contact', new_contact_path
    li= link_to "News", announcements_path
    li= link_to 'Login', new_user_session_path
