<% cache 'social-media' do %>
<script type="text/javascript">var switchTo5x = true;</script>
<script src="http://w.sharethis.com/button/buttons.js" type="text/javascript"></script>
<script type="text/javascript">stLight.options({publisher: "ur-84d8d783-c4b3-63aa-165d-7c93ac957388"});</script>
<span class="st_linkedin_large" displaytext="LinkedIn"></span>
<span class="st_facebook_large" displaytext="Facebook"></span>
<span class="st_twitter_large" displaytext="Tweet"></span>
<span class="st_email_large" displaytext="Email"></span>
<br/>
<%= image_tag("share.png") %>
<% end %>
