script[type="text/javascript"] var switchTo5x=true;
script[type="text/javascript" src="http://w.sharethis.com/button/buttons.js"]
script[type="text/javascript"] stLight.options({publisher: "ur-84d8d783-c4b3-63aa-165d-7c93ac957388"});
span.st_linkedin_large[displaytext="LinkedIn"]
span.st_facebook_large[displaytext="Facebook"]
span.st_twitter_large[displaytext="Tweet"]
span.st_email_large[displaytext="Email"]
br
= image_tag("share.png")
