- cache 'tutorial-video' do
  #tutorial_video.modal.hide.fade[tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"]
    .modal-header
      button.close[type="button" data-dismiss="modal" aria-hidden="true"]
        | ×
      h3#myModalLabel
        | Quick overview of how Paying Mantis works
    .modal-body
      iframe[width="530" height="315" src="http://www.youtube.com/embed/yJGI6CC9kPo" frameborder="0" allowfullscreen]
    .modal-footer
      button.btn[data-dismiss="modal" aria-hidden="true"]
        | Close