doctype html
html
  head
    meta[charset="utf-8"]
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title
      = content_for?(:title) ? yield(:title) : "Paying Mantis"
    = metamagic :title => "Paying Mantis - Increase your Cash Flow", :author => "Searle Consulting", :description => "Automatically chase your customers that owe you money, and get paid quicker. Paying Mantis dramatically ups your chances of increasing your cash flow.", :keywords => %w(Cash Flow Cashflow Get Paid Money owed Chase Debtors Increase)
    = stylesheet_link_tag  "application", :media => "all", 'data-turbolinks-track' => true
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield(:head)
  body[class="#{controller_name} #{action_name}"]
    = image_tag 'background_wood.jpg', alt: 'full screen background image', id: 'full-screen-background-image'
    header.navbar.navbar-fixed-top.navbar-inverse
      nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main[role="main"]
      #content.container
        = render 'layouts/browser_warning'
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
        = render 'layouts/footer'
